/* font-family: 'Montserrat', sans-serif;-- TITULOS
font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif; ---- TEXTO
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif; */
body {
margin: 0;
font-family: 'Raleway', sans-serif;
}
ul a {
  text-decoration: none;
  margin: 20px;
  color: white;
}
figure {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.borde {
  /* border: 2px solid red; */
}

.portada {
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  color: white;
  height: 670px
}
.transparencia {
  background-color: rgb(0, 0, 0,0.5);
  height: 670px;
}
.contenedor {
    width: 1139px;
  margin:auto;
}
.contenedor h1{
  font-size: 75px;
  font-weight: 600;
  margin: 10px;
}

.header {
  margin: 0 106px;
}
.header, .header ul{
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}

.logo {
  width: 36px;
  height: 50px;
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  height: 470px;
}
.intro p {
  font-family: 'Lora', serif;
  font-style: italic;
  font-size: 25px;
  width: 987px;
  text-align:right;
}
.habitaciones img, .precios{
  width: 305px;
}
.fondo {
  background-image: url(../images/catedral.jpg);
  background-size:cover;
  display: flex;
  justify-content: space-around;
}

.fondo img{
  width: 460px;
  height: 490px;
  margin: 100px 0;
  margin-right:106px;
}
.vive {
  width: 575px;
}
.vive h2 {
  font-size: 40px;
}

.vive p{
  font-size: 20px;
}

.servicios h2, .ofertas h2, .habitaciones h2, .reservas h2, .mapa h2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E25041;
  margin: 0;
  height: 93px;
    color: white;
  font-size: 48px;
}

.servicios .cajon {
  display: flex;
}
.cajon{
  justify-content: space-between;
}
.caja {
    width: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.caja ul {
  width: 2756px;
  text-align: center;
  background-size: contain;
}
.caja-azul {
  background-color: #3D8EB9;
}
.caja-servicios {
  display: flex;
  width: 336px;
}
.lista-servicios li {
  list-style: none;
}
.ofertas h2 {
    background-color:#FAAF40;
}
.caja-ofertas {
    display: flex;
}
.figura-oferta {
  background-image: url(../images/oferta.png);
  background-size: cover;  width: 426px;
  height: 426px;
}
.caja-ofertas h3 {
  color:#e25041;
  font-size:45px;
  font-weight: 700;
  margin: 0;

}
.caja-ofertas p {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align:right;
}
.text-ofertas {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  margin-right:100px;
  width: 574px;
}
.busqueda{
  display: flex;
  justify-content: center;
}

.botones {
    margin: 20px 0;
}
.botones ul{
  padding: 5px;
  margin:38px;
}
.botones li {
    display: inline;
    border: 1px solid #E6E6E6;
  margin: -3px;
  padding: 10px 29px;
}

.galeria {
 display: flex;
 height:558px;
 flex-wrap: wrap;
 justify-content: space-around;
 align-items: flex-start;
 position: relative;
}
.precio {
  background-color: rgba(79, 83, 93, 0.5);
  position: relative;
  bottom: 55px;
  height: 40px;
  padding-top: 15px;
  padding-left: 20px;
  color: white;
}
.espacio-blanco {
  font-size: 0;
}
.comodin1 {
  position: relative;
    left: 506px;
    bottom: 250px
}
.comodin2 {
  position: relative;
bottom: 249px;
left: 170px;
}
